
<!DOCTYPE HTML>

<html>

<head>
    <title>Cadastro Setor</title>
    @Scripts.Render("~/Scripts/jquery-1.7.1.min.js")
    @Scripts.Render("~/Scripts/jCadastroSetor.js")
</head>

<body>
<h2>Cadastro de Setor</h2>

<input type="text" id="NomeSetor" placeholder="Nome do Setor" value="" />
<input type="button" name="btnCadastrarSetor" value="Cadastrar"/>

</body>
</html>