USE [master]
GO
/****** Object:  Database [BancoEmpresa]    Script Date: 16/11/2015 16:17:02 ******/
CREATE DATABASE [BancoEmpresa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BancoEmpresa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BancoEmpresa.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BancoEmpresa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BancoEmpresa_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BancoEmpresa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BancoEmpresa]
GO
/****** Object:  Table [dbo].[tblFuncionario]    Script Date: 16/11/2015 16:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblFuncionario](
	[nldFuncionario] [int] IDENTITY(1,1) NOT NULL,
	[sNome] [varchar](250) NOT NULL,
	[sNascimento] [date] NOT NULL,
	[sCPF] [char](14) NOT NULL,
	[sCargo] [varchar](250) NOT NULL,
	[nldSetor] [int] NOT NULL,
	[sSalario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblFuncionario] PRIMARY KEY CLUSTERED 
(
	[nldFuncionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblSetor]    Script Date: 16/11/2015 16:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSetor](
	[nldSetor] [int] IDENTITY(1,1) NOT NULL,
	[sSetor] [varchar](250) NOT NULL,
 CONSTRAINT [PK_tblSetor] PRIMARY KEY CLUSTERED 
(
	[nldSetor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tblFuncionario]  WITH CHECK ADD  CONSTRAINT [FK_tblFuncionario_tblSetor] FOREIGN KEY([nldSetor])
REFERENCES [dbo].[tblSetor] ([nldSetor])
GO
ALTER TABLE [dbo].[tblFuncionario] CHECK CONSTRAINT [FK_tblFuncionario_tblSetor]
GO
USE [master]
GO
